asgiref==3.7.2
backports.zoneinfo==0.2.1
build==1.1.1
coverage==7.4.4
Django==4.2.11
exceptiongroup==1.2.0
gunicorn==21.2.0
importlib-metadata==7.0.2
iniconfig==2.0.0
packaging==24.0
pluggy==1.4.0
pyproject-hooks==1.0.0
pytest==8.1.1
pytest-cov==4.1.0
ruff==0.3.3
sqlparse==0.4.4
tomli==2.0.1
typing-extensions==4.10.0
zipp==3.18.1
